{% extends 'base.html.twig' %}

    {% block title %}Westown Sheriff | Cookies<{% endblock %}

{% block body %}
    <main id="information">
        <h1 id="top">Cookies</h1>
        <script id="CookieDeclaration" src="https://consent.cookiebot.com/f3ef2f6b-d132-4bec-a439-58493a95121e/cd.js" type="text/javascript" async></script>
    </main>
{% endblock %}